.Morado {
    background-color:rgb(178, 128, 225);
}

.title {
    color: black;
}

.menu{
    background-color: rgb(240, 195, 247);
    color: black;
}

section{
    background-color: rgb(120, 33, 249);
}


.navbar-item {
    color: rgb(255, 255, 255) !important;
}

.subtitle{
    color: black;
}


h2{

    text-align: center; /* Centra el texto horizontalmente */
    margin: 0 auto; /* Centra el elemento en su contenedor */
    padding: 20px 0; /* Añade espacio arriba y abajo */
    font-family: Arial, sans-serif; /* Fuente del texto */
    color: #d80000; /* Color del texto */
    width: 100%; /* Ocupa todo el ancho disponible */

}