.Morado {
    background-color:rgb(178, 128, 225);
}

.title {
    color: black;
}

.menu{
    background-color: rgb(240, 195, 247);
    color: black;
}

section{
    background-color: rgb(120, 33, 249);
}


.navbar-item {
    color: rgb(255, 255, 255) !important;
}

.subtitle{
    color: black;
}


h2{

    text-align: center; /* Centra el texto horizontalmente */
    margin: 0 auto; /* Centra el elemento en su contenedor */
    padding: 20px 0; /* Añade espacio arriba y abajo */
    font-family: Arial, sans-serif; /* Fuente del texto */
    color: #d80000; /* Color del texto */
    width: 100%; /* Ocupa todo el ancho disponible */

}


.label {
    font-size: 2rem; /* Tamaño grande */
    font-weight: 700; /* Negrita */
    color: #6a1b9a; /* Color morado oscuro */
    margin-bottom: 1.5rem; 
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px; 
 
}


:root {
    --bulma-primary-h: 306deg;
    --bulma-primary-l: 38%;
    --bulma-link-h: 314deg;
    --bulma-link-l: 59%;
  }
