<form action="/backend/agregar" method="POST" class="log">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <div class="menu">
    <br><br>
    <label for="nombre" class="label">Dame nombres de marvel</label>
    <br><br>
    <input
      class="input is-primary"
      type="text"
      placeholder="Magneto"
      id="nombre"
      name="nombre"
    />
    <br><br>
    <input class="button is-link is-rounded" type="submit" value="Enviar">
    
</div>

</form>