<form action="/backend/agregar" method="POST" class="log">
<form action="/backend/agregar" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <div class="menu">
    <br><br>
    <label for="nombre" class="label">Dame nombres de marvel</label>
    <br><br>
    <input
      class="input is-primary"
      type="text"
      placeholder="Magneto"
      id="nombre"
      name="nombre"
    />
    <br><br>
    <div class="file">
      <label for="imagen" class="file-label">
        <input type="file" class="file-input" id="imagen" name="imagen">
        <span class="file-cta">
          <span class="file-label"> Escoge una imagen… </span>
        </span>
      </label>
    </div>
    <input class="button is-link is-rounded" type="submit" value="Enviar">
    
</div>

</form>