<main> 


<div class= "menu">

    <h2 class="title is-1">¡Hola! Soy Kikin Lira</h1>
    <p>Estoy buscando aprender desarrollo de aplicaciones web.Esta página es una muestra de mis prácticas a lo largo del semestre.</p>
    <p>¡Bienvenido/a y gracias por visitar!</p>

</div>

</main>